{% extends 'base.html'%}
{%load static%}
{% block content%}
 <div class="container pt-50 pb-50">
     <div class="row">
         <div class="col-md-2"></div>
         <div class="col-md-8">
           <h3 class="text-dark mb-5">ABOUT </h3>
            <P class="text-left">
                Our unique ability to remain self-sustaining is the direct result of practical innovation and creative thinking. We listen to our Customers who continue to tell us they want more ways to connect with Classicmanda Store. Building equipments was our first foray into offering a taste of Classicmanda Store but over the years we have added more unique product to make it one stop store for our customers. Now, you can experience life as a Vanderbilt guest at our Alabama Store. You can even inspire your own everyday living with our array of building equipment, lightings, Solar panels, Solar Batteries, Inverters, washing machines and security and safety vaults.

            </P>
            <P class="text-left">
               
                We want to provide our customers with the best value for money in the business - hence our low price guarantee. Our sales team is seeking an organized and energetic sales consultant to serve our English and French speaking clients. We always ensure every client get value for money at all time.
                <h4>By STACEY NICOLE CHOAT (CEO / Store Owner)</h4>
            </P>
             <a href="{% url 'contact'%}" class="btn btn-outline-primary btn-lg px-5 py-3  mt-4 ">Contact Us</a>
         </div>
         <div class="col-md-2"></div>

        
     </div>
 </div>
        {% endblock%}