{% extends 'base.html'%}
{%load static%}
{% block content%}
<div class="row mt-50">
    {%for dish in dishwasher %}
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 pl-40">
        <div class="product-wrap product-border-3 product-img-zoom mb-30">
            <div class="product-img">
                <a href="{% url 'product' dish.id %}"><img src="{% static dish.image %}" style="width: 250px;" alt="product"></a>
                <div class="product-action-4">
                    <div class="product-action-4-style">
                        <a class="" href="{% url 'cart' dish.id %}"  data-tooltip="Add To Cart" id="AddToCart"><i  class="la la-cart-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="product-content product-content-padding">
                <h4><a href="{% url 'product' dish.id %}">{{dish.name}}</a></h4>
                <div class="price-addtocart">
                    <div class="product-price">
                        <span>${{dish.price}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock%}