{%load static%}
<footer class="footer-area bg-black-3 pt-100 section-padding-4">
    <div class="container-fluid">
        <div class="footer-top pb-60">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                    <div class="footer-widget footer-contact-wrap-2 mb-40">
                        <a href="{% url 'home'%}"><img src="{% static 'images/logo/logo.png'%}" alt="logo" style="width: 80%; margin-top:0px"></a>
                        <div class="footer-contact-content-2">
                            <h5>Contact Information:</h5>
                            <div class="footer-info-hm5">
                                <span>Phone</span>
                                <p>(+1) (205) 6390763</p>
                                <span>Address</span>
                                <p>624 skyland, blvb E Toscaloosa,
                                    Alabama, 35405
                                    United States</p>
                                    <span>Mail</span>
                                    <p><a href="#"> Support@classicmanda.net</a></p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-12 col-sm-6">
                    <div class="footer-widget mb-40 ml-55 mrg-md-footer">
                        <div class="footer-title-4">
                            <h3>Shop Info</h3>
                        </div>
                        <div class="footer-list-4">
                            <ul>
                                <li class="menu-item-has-children"><a href="{% url 'vault'%}">Vaults</a></li>
                                <li class="menu-item-has-children"><a href="{% url 'lightning'%}">lightnings</a></li>
                                <li class="menu-item-has-children"><a href="{% url 'bateriesandpanels'%}">panels & Batteries</a></li>
                                <li class="menu-item-has-children"><a href="{% url 'mattress'%}">mattress</a></li>
                                <li class="menu-item-has-children"><a href="{% url 'dishwasher'%}">dishwasher</a>
                                <li class="menu-item-has-children"><a href="{% url 'bequipment'%}">building equipments</a></li>

                               
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-12 col-sm-6">
                    <div class="footer-widget mb-40 ml-200">
                        <div class="footer-title-4">
                            <h3>Classicmanda Store
                            </h3>
                        </div>
                        <div class="footer-list-4">
                           <p> Classicmanda Store is the premier online antiques shop selling genuine antiques from trusted dealers. Our comprehensive antique store contains thousands of rare and unique items from dealers selling antiques and vintage style items worldwide.</p>
           <p>
    We have best offers with the best price in brands, offers and discount on all online order, Long Island and rest of United States. You can shop and buy from Home and take advantage of our 5% sales discount.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-12 col-sm-6">
                    <div class="footer-widget mb-40 f-right">
                        <div class="footer-title-4">
                            <h3>Resources</h3>
                        </div>
                        <div class="footer-list-4">
                            <ul>
                                <li><a href="{% url 'about'%}">About us</a></li>
                                <li><a href="{% url 'delivery'%}">Delivery information</a></li>
                                <li><a href="{% url 'terms'%}">Terms & Conditions</a></li>
                                <li><a href="{% url 'policy'%}">Privacy & Policy</a></li>
                                <li><a href="{%url 'contact' %}">contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom pt-20 pb-20 border-top-3">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="copyright-5">
                        <p>Copyright © <a href="#">classicmada</a>. All Right Reserved</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="footer-payment footer-payment2">
                        <a href="#"><img src="{% static 'images/icon-img/payment-method.png'%}" alt="logo"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>