{% extends 'base.html'%}
{%load static%}
{% block content%}
 <div class="container pt-50 pb-50">
     <div class="row">
         <div class="col-md-2"></div>
         <div class="col-md-8">
           <h3 class="text-dark mb-5">Privacy Policy</h3>
            <P class="text-left">
                <b>Classicmanda Store</b> knows that you care about how your information is used and shared, and takes your privacy seriously. Please read the following to learn more about our Privacy Policy. By visiting the Classicmanda Store’s web site at http://www.classicmanda.net (the "Web Site"), or using any of our services, you acknowledge that you accept the practices and policies outlined in this Privacy Policy.

            </P>
           <h3 class="text-dark mb-5">Non-disclosure of Personal Data</h3>
            <P class="text-left">
                We will not sell, share, or otherwise distribute your Personal Data to third parties except as provided in this Privacy Policy. We may disclose your Personal Data to other Classicmanda Store affiliates worldwide that agree to treat it in accordance with this Privacy Policy. Personal Data may also be transferred to third parties who act for or on our behalf, for further processing in accordance with the purpose(s) for which the data were originally collected or may otherwise be lawfully processed, such as services delivery, evaluating the usefulness of this website, marketing, data management or technical support. These third parties have contracted with us to only use Personal Data for the agreed upon purpose, and not to sell your Personal Information to third parties, and not to disclose it to third parties except as may be required by law, as permitted by us or as stated in this Privacy Policy.

                Personal Data collected from you may also be transferred to a third party in the event that the business of this site or a part of it and the customer data connected with it is sold, assigned or transferred, in which case we would require the buyer, assignee or transferee to treat Personal Data in accordance with this Privacy Policy. Also, Personal Data may be disclosed to a third party if we are required to do so because of an applicable law, court order or governmental regulation, or if such disclosure is otherwise necessary in support of any criminal or other legal investigation or proceeding here or abroad.
            </P>
           <h3 class="text-dark mb-5">What About Cookies?</h3>
            <P class="text-left">
                Technologies such as: cookies, beacons, tags and scripts are used by Classicmanda Store and our advertising partners, affiliates, or analytics or service providers. These technologies are used in analyzing trends, administering the site, tracking users' movements around the site and to gather demographic information about our user base as a whole. We may receive reports based on the use of these technologies by these companies on an individual as well as aggregated basis.

                Classicmanda Store use cookies to remember users’ settings (e.g. language preference) and for authentication. Users can control the use of cookies at the individual browser level. If you reject cookies, you may still use our site, but your ability to use some features or areas of our site may be limited.
            </P>
           <h3 class="text-dark mb-5">Links to other sites</h3>
            <P class="text-left">
                This Privacy Policy applies only to this website, and not to websites owned by third parties. We may provide links to other websites which we believe may be of interest to our visitors. We aim to ensure that such websites are of the highest standard. However, due to the nature of the internet, we cannot guarantee the privacy standards of websites to which we link or be responsible for the contents of sites other than this one, and this Privacy Policy is not intended to be applicable to any linked, non-Classicmanda Store site.
            </P>
           <h3 class="text-dark mb-5">Changes to this Privacy Policy</h3>
            <P class="text-left">
                Classicmanda Store may make changes to this Privacy Policy from time to time for any reason. Use of information we collect now is subject to the Privacy Policy in effect at the time such information is used. If we make any material changes or changes in the way we use information, we will notify you via e-mail or by posting an announcement on the Web Site prior to the change becoming effective. Users are bound by any changes to the Privacy Policy when he or she uses the Web Site after such changes have been first posted.
            </P>
           
           <h3 class="text-dark mb-5">How do I contact Classicmanda Store</h3>
            <P class="text-left">
                If you have any queries or complaints about our compliance with this Privacy Policy, or if you would like to make any recommendations or comments to improve the quality of our Privacy Policy, please email us at [email protected]
            </P>
           
             <a href="{% url 'contact'%}" class="btn btn-outline-primary btn-lg px-5 py-3  mt-4 ">Contact Us</a>
         </div>
         <div class="col-md-2"></div>

        
     </div>
 </div>
        {% endblock%}