{% extends 'base.html'%}
{%load static%}
{%block content%}
<div class="login-register-area pt-30 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-toggle="tab" href="#lg1">
                            <h4>register </h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    {% include 'alert.html'%}
                                    <form action="{% url 'register'%}" method="post">
                                        {% csrf_token%}
                                        <input type="text" value="{{firstName}}" name="firstName" placeholder="First name" required>
                                        <input type="text" value="{{lastName}}"  name="lastName" placeholder="Last name" required>
                                        <input type="text" value="{{username}}"  name="username" placeholder="Username" required>
                                        <input name="email" value="{{email}}"  placeholder="Email" type="email" required>
                                        <input type="password"   name="password" placeholder="Password" required>
                                        <input type="password"  name="confirmPassword" placeholder=" Confirm password" required>
                                        <div class="button-box">
                                            <button type="submit">Register</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}